    .slide-container {
      position: relative;
    }
    
    .main {
      padding: 0;
      overflow-x: scroll;
      overflow-y: hidden;
    }
    
    .items {
      width: 100%;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      transition: all 0.2s;
      transform: scale(0.98);
      will-change: transform;
      user-select: none;
      cursor: pointer;
      display: flex;
    }
       
    
    .items.active {
      background: rgba(255,255,255,0.3);
      cursor: grabbing;
      cursor: -webkit-grabbing;
      transform: scale(1);
    }
    
    .item {
      min-width: 400px;
      white-space: normal;
      margin-right: 30px;
      margin-bottom: 30px;
    }
    
    .card-img {
      height: 150px;
      margin: auto;
    }

    .profile-pic {
      width: 200px;
      margin: auto;
    }

    .hd-name {
      font-size: 25px;
      margin-bottom: 0;
    }

    .swipe .fas {
      animation: rotate 2.5s infinite;
      font-size: 50px;
      transform: rotate(30deg);
      opacity: .2;
      position: absolute;
      right: 30px;
      bottom: 0;
    }

    @keyframes rotate {
      50% {transform: rotate(-30deg)}
    }

      @media screen and (max-width: 500px) {
        .item {
      min-height: 200px;
      min-width: 300px;
      }
    }  

  ::-webkit-scrollbar {
      width: 0;  
  }